/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import url(http://fonts.googleapis.com/css?family=Leckerli+One);
@import url(http://fonts.googleapis.com/css?family=Lato);

/*@font-face {
	font-family: 'Aileron-Regular';
	src: asset-url('Aileron-Regular.otf');
	font-weight: normal;
	font-size: normal;
}
@font-face {
	font-family: 'Lovelo';
	src: asset-url('Lovelo_Black.otf');
	font-weight: normal;
	font-size: normal;
}*/

.lobster{
	font-family: 'Leckerli One', cursive;
}
body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
	/*background-color: #e0e0e0;*/

}

.sign-up-form{
	max-width: 400px;
	margin: 0 auto;
	background: rgba(255,255,255,0.8);
	padding: 50px;
	/*padding-top: 30px;
	padding-bottom: 20px;*/
	position: relative;
	/*top: 250px;*/
	border-radius: 3px;
	input[type="email"], input[type="password"]{
		background-color: rgba(255,255,255,0.3);
	}
}
button{
	height: 40px;
	border-radius: 0px;

}
.d3{
	position: relative;

	width: 1000;
	margin: 0 auto;
}



