/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */



@font-face {
    font-family: 'aaarghnormal';
    src: asset-url('aaargh-webfont.eot');
    src: asset-url('aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('aaargh-webfont.woff2') format('woff2'),
         asset-url('aaargh-webfont.woff') format('woff'),
         asset-url('aaargh-webfont.ttf') format('truetype'),
         asset-url('aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AftaSansThin-Regular';
    src: asset-url('AftaSansThin-Regular.otf');
    
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'AftaSansThin-Regular';
	background-color: #e0e0e0;

}

.sign-up-form{
	width: 600px;
	margin: 0 auto;
	background: #FFF;
	padding: 20px;
	position: relative;
	top: 300px;
}
button{
	height: 40px;
	border-radius: 0px;

}



