// Place all the styles related to the Nonprofits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-nonprofit-form{
	width: 600px;
	margin: 0 auto;
	background-color: #FFF;
	padding: 20px;
	border: 2px solid #f05b47;

}
.nonprofit-show-page{
	background-color: #505050;

}

#edit-nonprofit-header{
	background-color: rgba(255,255,255,0);
	height: 200px;	
	padding: 20px;
	h1, h4 {
		position: relative;
		top: 0px;
	}
}
.np-show-container{
	width: 70%;
	margin: 0 auto;
}
.nonprofit-info{
	height: 300px;
	display: none;
	background-color: #FFF;
	margin: 0 auto;
	h6{
		background-color: #0dc9f7;
		padding: 10px;
		text-align: center;
		color: #FFF;
		font-weight: bold;
	}
	div{
		margin: 10px auto;
	}
	#description{
		background-color: rgb(246, 247, 248);
		padding: 10px;
		width: 96%;
		margin: 20px;
		border: 1px solid #e0e0e0;
		position: relative;
		top: -20px;
	}
	a{
		position: relative; 
		top: -60px;
	}
}
.donations{
	display: none;
	background-color: #FFF;
	width: 74%;
	max-height: 1000px;
	padding: 0px;
	p{
		font-family: Helvetica;
	}
	h6{
		background-color: #f05b47;
		padding: 10px;
		text-align: center;
		margin: 0;
	}
	.donation{
		padding-left: 30px;
		padding-right: 30px;
		background-color: #f6f7f8;
		margin-right: 20px;
		margin-left: 20px;
		border: 1px solid #e0e0e0;
	}

}
.topics{
	display:none;
	h6{
		background-color: #bff073;
		padding: 10px;
		text-align: center;
		margin: 0;
	}
	background-color: #FFF;
	position: relative;
	left: 5px;
	padding: 0px;
	.topic-body{
	
	}
}
#nonprofit-show-header{
	background-color: #e0e0e0;
	height: 100px;
}
#edit-nonprofit-link{
	position: relative;
	top: 20px;
	margin-right: 10px;
}
.stripe-sign-in-link{
	padding: 20px;
	margin-top: 20px;
	font-size: 34px;
	position: relative;
	top: -70px;
	display: none;
	background-color: #FFF;
	border: 3px solid;
	
}

#nonprofit-tax-id{
	width: 300px;
	margin: 10px auto;
	position: relative;
	top: 20px;
}
.nonprofit-sign-up{
	width: 600px;
	height: 250px;
	margin: 0 auto;
	background-color: #FFF;
	padding: 30px;

}
// #505050 - dark grey
//bff073 - light 
//f05b47 - dark coral
//0dc9f7 - light blue
//e0e0e0 - light grey

.nonprofit-registration-page {
	background-color:#4eafcd;
	h1,h2,h3,h4,h5,h6{
		font-weight: 700;
		color: #FFF;
	}
}
.nonprofit-registration-header{
	position: relative;
	width: 80%;
	margin: 0 auto;
	top: 15%;
	h2, h5{color: #FFF;}
	.fa-5x {
		color: #FFF;
		font-size: 250px;
		display: block;	
		width: 200px;
		margin: 0 auto;
		margin-bottom: 80px;

	}
}
#np-sign-up-link{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #FFF;
	background-color: #469db8;
}
#myModal{
	h1,h2,h3,h4,h5,h6{
		color: #505050;
	}
}
.home-header{
	a{
		postiion: relative;
		top: -10px;
	}
	height: 50px;
	background-color: transparent;
}
.nonprofit-container{
	width: 91.5%;
	margin: 0 auto;
}
.how-it-works{
	width: 100%;
	min-height: 400px;
	background-color: #e0e0e0;
	position: relative;
	top: 200px;
	padding-top: 40px;
	text-align: center;
	h1, h2, h3, h4, h5, p {
		color: #505050;
	}
	div{
		width: 80%;
		margin: 0 auto;
		margin-top: 50px;

	}
}
.profile-page{
	background-color: darken(#4eafcd, 40%);
	.nonprofit-block{
		width: 65%;
		min-height: 400px;
		max-height: 1000px;
		overflow: scroll;
		position: relative;
		top: 50px;
		left: 30%;
		background-color: rgba(255,255,255,1);
		.title-head{
			background-color: #F6F7F8;
			padding: 30px;
		}
		.profile-body{
			padding-right: 40px;
			padding-left: 40px;
			margin-bottom: 40px;
		}
		h5{
			font-weight: bold;
			margin-top: 15px;
		}
		.description{
			padding-left: 40px;
		}
		img{
			position: relative;
			top: 20px;
			left: 18%;
		}
		.topic-list{
			position: relative;
			top: 30px;
		}

	}
	.profile-footer{
		background-color: #000;
		position: relative;
		height: 100px;
		top: 100px;
		text-align: center;
		h6{
			color: lighten(#505050, 10%);
			padding-top: 20px;}
	}
}
.bar {
  fill: #4eafcd;
}

.bar:hover {
  fill: #bff073;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
