// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header{
	h1, h4 {
		font-family: 'AftaSansThin-Regular';
		position: relative;
		top: 100px;
	}
	a{
		position: relative;
		top: 10px;
		right: -75%;
		padding-right: 10px;
		text-decoration: underline;

	}
	width:70%;
	height: 300px;
	
	margin: 10px auto;
	padding: 20px;

	background-color: #FFF;


}
.user-sign-up-page{
	background-color: #4eafcd;
	height:100vh;
}
.sign-up-header{
	background-color: transparent;
	/*position: absolute;*/
	
	/*width: 550px;*/
	h2{
		/*text-align: right;*/
		position: relative;
		/*top: -80px;*/
		color: #FFF;
		font-size: 50px;
		/*left: -200px;*/
		color: #e0e0e0;}
	img{
		width: 150px;
		height: 200px;
		position: relative;
		z-index: -2;
		left: 13%;
		top: -40px;
		
	}
}
.featured-nonprofit{
	background-color: #FFF;
	
	h2{
		background-color: #4eafcd;
		padding: 10px;
	}
	width: 87%;
	min-height: 500px;
	margin: 0 auto;
	button{
		margin: 10px 20%;
		width: 20%;
		position: realtive;

	}

	.padding{
		padding: 20px;
		position: relative;
		top: 50px;
		margin: 10px;
		background-color: #F6F7F8;
		
	}

}

.nonprofit{
	display: block;
	background-color: #FFF;
	margin: 20px;	
	padding: 20px;
	button{
		position: relative;
		top: 150px;

	}
	.nonprofit-title{
		text-align: center;
	}
	.nonprofit-topic{
		color: rgba(0,0,0,0.5)
	}
	.stripe-button-el{
		display: none;
		position: relative;
		top: 0px;
		margin: 0 auto;
		width: 30%;
		left: 35%;
	}
}
.topic-select{
	height: 200px;
}
#user-form, .log-in-form{
	width: 600px;
	margin: 0 auto;
	background-color: #FFF;
	padding: 20px;
}

.user-show-page{
	background-color: #4EAFCD;
}
.user-show-header{
	height: 100px;
	width: 93.1%;
	position: relative;
	left: 40px;
	margin: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.user-donations{
	padding: 20px;
	height: 500px;
	position: relative;
	left: 40px;
	background-color: #FFF;
	border: 8px solid #469DB8;
	svg{
		position: relative;
		left: 16%;
	}


}
.user-topics{
	padding: 20px;
	postion: relative;
	left: 40px;
	max-height: 350px;
	overflow: scroll;
	background-color: #FFF;
	margin-right: 20px;
	border: 8px solid #469DB8;
	.button{
		background-color: #f05b47;
	}
	/*a{
		position: relative;
		left: 90%;
	}*/

}
.user-feed{
	display: none;
	border: 8px solid #469DB8;
	background-color: lighten(#469DB8, 20%);
	margin: 10px auto;
	position: relative;
	left: 40px;
	top: -150px;
	padding: 20px;
	max-height: 1000px;
	overflow: scroll;
	
	.feed-item{

		background-color: #FFF;
		margin: 10px;
	
		h6{
			padding-left: 10px;
			font-weight: bold;
			position: relative;
			top: -20px;
		}
		.dollar-tweet{
			background-color: #f6f7f8;
			margin-right: 10px;
			margin-left: 10px;
			border: 2px solid #e0e0e0;
			padding-top: 5px;
			position: relative;
			top: -20px;
		}
		p{
			margin-left: 40px;
			margin-right: 40px;
			margin-bottom: 0px;
			position: relative;

		}
		.where{
			margin-left: 10px;
			color: rgba(0,0,0,0.5);
		}
		.topic{
			color: rgba(0,0,0,0.5);
			position: relative; 
			top: 0px;
			padding-right: 10px;
			padding-top: 10px;
		}
		.stripe-button-el {
			width: 25%;
			position: relative;
			left: 35%;
			top: -10px;
			margin-bottom: 5px;

		}
		.pay{
			height: 50px;
			margin: 0; 
			padding-top: 5px;
			.stripe-button-el{
				display: none;
			}
		}
		
	}
}
.root-page{
	margin: 0;
	padding: 0;
	background: image-url('clouds.jpg');
	background-size: cover;
	background-repeat: none;
}
#abouttext{
	background: image-url('clouds.jpg');
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#landingpageheader{
	width:100vw;
	height:100vh;
	/*background: image-url('clouds.jpg');*/
	/*background-size: cover;*/
	/*background-position:center;*/
	/*background: rgba(5,5,5,.5);*/
}
#scenetwo{
	width:100vw;
	height:100vh;
	/*background: image-url('waves.jpg');
	background-size: cover;
	background-position:center;*/
	background: rgba(0,0,0,.9);
}
#scenethree{
    height:40vh;
    /*background-color: rgba(0,0,0,.7);*/
}



.root-footer{
	position: relative;
	/*top: 300px;*/
	/*background-color: #4eafcd;*/
	/*height: 200px;*/
	text-align: center;
	/*padding: 50px;*/
	height: 100vh;
	color:white;
	/*background: black;*/
	a{ color: #FFF;}
}
.nomargins{
	padding:0;
	margin:0;
}

.root-header{

	h2, h5 {
		/*font-family: 'Lovelo';*/
	}
	background-color: #505050;
	position: fixed;
	top: 0px;
	z-index: -100;
	width: 100vw;
	height: 100vh;
	/*margin: 0;*/
	text-align: center;
	h2, h5,a {color: #FFF}
	img{
		width: 300px;
		height: 300px;
	}
	a{
		position: relative;
		right: 0%;
		top: 150px;
		color: #469DB8;
	}
}
.root-about{
	color:white;
	/*min-height: 450px;*/
	h4{
		/*font-family: 'Lovelo';*/
		max-width: 500px;
		margin: 0 auto;
		position: relative;
		/*top: 65px;*/
	}
	/*margin: 100px auto;*/
	text-align: center;
	background-color: #e0e0e0;
	position: relative;
	/*top: 500px;*/


}
.nonprofit-index-footer{
	height: 100px;
	text-align: center;
	padding: 20px;
	background-color: rgba(0,0,0,0.5);
	h6{
		color: rgba(255,255,255,0.6);
	}
	position: relative;
	top: 200px;
}
.home-page{
	background-color: lighten(#469db8, 40%);
}